/* Контейнер для всіх мініатюр */
.pictures {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;                       
}

.picture {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.picture__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Інформація про лайки і коментарі */
.picture__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

/* Зменшити відстань між цифрами лайків та коментарів */
.picture__likes, .picture__comments {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Зменште відстань тут, якщо потрібно */
}

.picture__likes img, .picture__comments img {
    margin-right: 5px;
    vertical-align: middle;
}

.picture__likes span, .picture__comments span {
    color: white; /* Встановити білий колір для цифр */
}
